<% layout('/layouts/boilerplate') %>
    <% if(!toggle) {%>
        <h1 class="mb-3">모든 캠핑장</h1>
        <% } else {%>
            <h1 class="mb-3">
                <%= `"${title}"의 검색결과` %>
            </h1>
            <% } %>
                <% if(!toggle) { %>
                    <div class="mb-4" id="cluster-map"></div>
                    <h3 class="mb-3">검색하기</h3>
                    <% } %>


                        <form action="/campgrounds/search" method="post">
                            <div class="input-group mt-3 mb-5">
                                <label class="form-label" for="search"></label>
                                <input type="text" class="form-control" placeholder="캠핑장 이름" id="search" name="search">
                                <button class="btn btn-outline-secondary" type="submit">검색</button>
                            </div>
                        </form>

                        <ul>
                            <%for(campground of campgrounds){%>
                                <div class="card mb-3" style="max-width: auto;">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <% if(campground.images.length) {%>
                                                <img class="img-fluid" alt="" src="<%=campground.images[0].url%>">
                                                <% } else{%>
                                                    <img class="img-fluid" alt=""
                                                        src="https://res.cloudinary.com/dgirwgezz/image/upload/v1710313902/YelpCamp/btanitzniupuzfwzntgr.jpg">
                                                    <% } %>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= campground.title %>
                                                </h5>

                                                <p class="card-text">
                                                    <%= campground.description %>
                                                </p>
                                                <p class="card-text">
                                                    <small class="text-muted">
                                                        <%= campground.location %>
                                                    </small>
                                                </p>
                                                <a href="/campgrounds/<%=campground._id %>"
                                                    class="btn btn-primary">더보기...</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%} %>
                        </ul>


                        <script>
                            const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
                            const campground_geojson = {
                                type: "FeatureCollection",
                                features: []
                            };

    // campgrounds의 좌표 데이터를 campground_geojson에 추가
    <% for (let i = 0; i < campgrounds.length; i++) { %>
                                campground_geojson.features.push({
                                    type: "Feature",
                                    geometry: {
                                        type: "Point",
                                        coordinates: '<%= campgrounds[i].geometry.coordinates %>'.split(',')
                                    },
                                    properties: {
                                        popUpMarkup: '<%= campgrounds[i].properties.popUpMarkup %>'
                                    }
                                });
    <% } %>


                        </script>


                        <script src="javascripts/clusterMap.js"></script>